<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>📅</text></svg>">
        
        {# Chargement du CSS compilé (Bootstrap) #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {# 1. Le Menu #}
        {% include 'partials/_header.html.twig' %}

        {# 2. Le Contenu Principal #}
        <div class="container">
            
            {# Affichage des messages Flash (Succès, Erreurs) #}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label == 'error' ? 'danger' : 'success' }} alert-dismissible fade show">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                {% endfor %}
            {% endfor %}

            {# Ici s'insérera le contenu de chaque page #}
            {% block body %}{% endblock %}
        </div>

        {# 3. Le Pied de page #}
        {% include 'partials/_footer.html.twig' %}
    </body>
</html>